<br>
<br>


<mat-card class="position">
<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<div class="center">

<button class="center" mat-raised-button color="warn">
<label class="btn btn-default">
  <input class="center" type="file" (change)="selectFile($event)">
</label>
</button>
</div>
<br>
เลือกไฟล์ TEXT ที่ต้องการเข้ารหัส
<br><br>

<button  class = "center" mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<br>
<br>
<button  class = "center" mat-raised-button color="primary"  (click)="downloadEncrypFile()">Download Encryption File</button>
&nbsp;&nbsp;
<button  class = "center" mat-raised-button color="warn"  (click)="downloadkeyFile()">Download Key File</button>

</mat-card>




